.jobs-container {
 width: 80%;

  .jobs-type {
    width: 60%;
  }

  .type {
    border: 1px solid green;
    text-align: center;
    margin-top: 20px;
    padding: 0 50px;
    margin-right: 20px;
    cursor: pointer;

  }
  .active-type {
    background-color: green;
    color: white;
  }

  .title {

    font-size: 20px;
  }

  table {
    width: 90%;
  }
}
