<div class="container">
  <div class="left-side-img">
    <img src="../../../assets/image-61.jpg" alt="" class="login-img">
  </div>
  <div class="login">
    <div class="login-content">
      <div class="logo">
        <img src="../../../assets/mw_fms_logo.png" class="logo-img" alt="">
      </div>
      <form class="example-form" #fmslogin>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter a Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter a password">
        </mat-form-field>
      </form>
      <button class="btn-login" (click)="login()"> Login</button>
    </div>
  </div>
</div>
